<md-sidenav
  md-component-id="main-sidenav"
  class="md-sidenav-left md-whiteframe-z2"
  md-is-locked-open="$media('gt-sm')" >

  <md-toolbar>
    <h2 class="md-toolbar-tools">express-blog</h2>
  </md-toolbar>

  <md-content class="md-default-theme" layout="column">
    <section ng-repeat="section in sections">
      <md-button class="section-button" ui-sref="{{section.state}}" ui-sref-active="md-raised">{{section.name}}</md-button>
      <aside class="section-links" layout="column">
          <md-button layout-align="center" ui-sref-active="md-primary md-raised" class="link-button" ui-sref="{{link.state}}" ng-repeat="link in section.links">
            <i class="fa fa-fw" ng-class="link.icon"></i>
            {{link.name}}
          </md-button
      </aside>
    </section>
  </md-content>
</md-sidenav>
