@import (reference) "../less/main.less";

eb-sidebar {

  .site-sidenav {
    width: 100%;
  }

  .md-button, .md-button.md-default-theme {
    text-align: left;
    margin: 0;
    border-radius: 0;
  }

  .section-button {
    font-weight: bold;
    color: #666;
    height: 3em;
    padding: 0.5em 1em;
  }

  .link-button {
    text-transform: none;
    padding-left: 1em;
  }

  section {

  }
}
