<section class="login-section md-whiteframe-z1">
  <md-toolbar>
    <h2 class="md-toolbar-tools">Login</h2>
  </md-toolbar>
  <form>
    <md-content layout="column" layout-align="center center">

        <md-text-float label="Name" ng-model="username"></md-text-float>
        <md-text-float label="Password" ng-model="password" type="password"></md-text-float>
        <p ng-bind="errorMessage" ng-show="errorMessage" class="md-warn"></p>
        <md-progress-circular md-mode="indeterminate" ng-show="inProgress"></md-progress-circular>
        <md-button class="md-primary md-raised" ng-click="authenticate()">Log in</md-button>

    </md-content>
  </form>
</section>
