@warn-color: #ff0000;
@grey: #aaa;
@positive: #72d572;

.thin-border {
  border: 1px solid @grey;
}

p.md-warn {
  color: @warn-color;
}

.top-toolbar {
  padding-right: 1em;

  .menu-toggler {
    font-size: 1.5em;
    padding: 0.4em;
    cursor: pointer;
  }
}
ui-view > section {
  padding: 1em;
}
.top-toolbar h1 {
  font-size: 1em;
  margin-left: 1em;
}
#edge-menu-swiper {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 10px;
  background-color: transparent;
  z-index: 5;

}
