@warn-color: #ff0000;


p.md-warn {
  color: @warn-color;
}

.top-toolbar {
  padding-right: 1em;

  .menu-toggler {
    font-size: 1.5em;
    padding: 0.4em;
    cursor: pointer;
  }
}
ui-view > section {
  margin-top: 1em;
}
