<h1>Create new Post</h1>
<md-tabs md-stretch-tabs="always">
  <md-tab label="Details">
    <md-input-container>
      <label>Title</label>
      <input ng-model="title" />
    </md-input-container>
    <div layout="row">
      <md-input-container>
        <label>SEO URL</label>
        <input ng-model="seoTitle" />
      </md-input-container>
      <md-checkbox ng-model="seoTitleLock" aria-label="Lock SEO URL">
        <span ng-hide="seoTitleLock">Lock SEO URL</span>
        <span ng-show="seoTitleLock">Locked</span>
      </md-checkbox>
    </div>
  </md-tab>

  <md-tab label="Body">
    <textarea ui-tinymce ng-model="body"></textarea>
  </md-tab>
  <md-tab label="Save">
    <h4>Status</h4>
    <md-radio-group ng-model="state" layout="row">
      <md-radio-button value="Draft" aria-label="Draft">Draft</md-radio-button>
      <md-radio-button value="Published" aria-label="Publish">Publish</md-radio-button>
    </md-radio-group>

    <center>
      <md-button ng-click="savePost()" class="md-primary md-raised">Save</md-button>
    </center>
  </md-tab>
</md-tabs>
