<md-tabs md-stretch-tabs="always" md-dynamic-height="true">
  <md-tab label="Details">
    <md-input-container>
      <label>Title</label>
      <input ng-model="post.title" />
    </md-input-container>
    <div layout="row">
      <md-input-container>
        <label>SEO URL</label>
        <input ng-model="post.seoTitle" />
      </md-input-container>
      <md-checkbox ng-model="post.seoTitleLock" aria-label="Lock SEO URL">
        <span ng-hide="post.seoTitleLock">Lock SEO URL</span>
        <span ng-show="post.seoTitleLock">Locked</span>
      </md-checkbox>
    </div>
  </md-tab>

  <md-tab label="Body">
    <textarea ui-tinymce ng-model="post.body"></textarea>
  </md-tab>

  <md-tab label="Comments" ng-disabled="!post.comments">
    <h4 ng-if="post.comments.length > 0">
      Comments: {{post.comments.length}}
    </h4>
    <h4 ng-if="post.comments.length <= 0">This post doesn't have any comments</h4>

    <md-list class="comments-area md-whiteframe-z1" ng-if="post.comments.length > 0">
      <md-list-item ng-repeat="comment in post.comments" layout="row">
        <aside class="comment-author" layout="column">
          <eb-avatar email="comment.author.email"></eb-avatar>
          <span class="author">{{comment.author.name}}</span>
        </aside>
        <article flex>{{comment.body}}</article>
        <aside class="comment-action" layout="column">
          <md-button ng-click="editComment()">
            <i class="fa fa-pencil"></i>
            Edit
          </md-button>
          <md-button ng-click="removeComment()">
            <i class="fa fa-trash-o"></i>
            Delete
          </md-button>
        </aside>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>

  </md-tab>

  <md-tab label="Save">
    <h4>Status</h4>
    <md-radio-group ng-model="post.state" layout="row">
      <md-radio-button value="Draft" aria-label="Draft">Draft</md-radio-button>
      <md-radio-button value="Published" aria-label="Publish">Publish</md-radio-button>
    </md-radio-group>

    <center>
      <md-button ng-click="savePost()" class="md-primary md-raised">Save</md-button>
    </center>
  </md-tab>
</md-tabs>
