@import (reference) "../less/main.less";

.publish-state {
  &.published {
    color: @positive;
  }

  &.draft {
    color: @warn-color;
  }
}

.posts-list {
  h2 {
    margin: 0;
    text-align: left;
  }

  header {
    margin-bottom: 1em;
  }

  .date {
    text-align: right;
  }
}

md-tab-content {
  padding: 0.5em;
}

.comments-area {
  md-list-item {
    align-items: stretch;
  }
}
