<section>

  <ui-view name="userAdministration" class="user-admin-panel">
  </ui-view>

  <md-content class="md-default-theme users-list md-whiteframe-z1">
    <md-list>
      <md-item ng-repeat="user in users">
        <md-item-content layout="row" ui-sref="users.user({username: user.username})" ui-sref-active="active">
          <eb-gravatar email="{{user.email}}"></eb-gravatar>
          <section class="user-info" layout-fill>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <footer layout="row">
              <span flex>{{user.username}}</span> <span>Role: {{user.role}}</span>
            </footer>
          </section>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
  <md-button ui-sref="users.new">
    <i class="fa fa-user-plus"></i> Add user
  </md-button>

</section>
